@page "/solution"
<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Solution</MudText>

<MudText Class="mb-8">
Karpine provides smart labels based on QRCodes, RFID technology coupled withblockchain to provide an automated supply chain visibility from manufacturer to the retailer shelves.
</MudText>
 <MudText Typo="Typo.h6" GutterBottom="true">How it works?</MudText>


<MudContainer Class="mt-16">
    <MudGrid Class="mt-8">
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">01 DIGITAL TWIN</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify">
                       <MudText Class="mb-8">Create a digital trackable twin of each product with a unique code. Enter product data into blockchain through Portal / API's / ExcelSheets. Each code is called Blockcode.
</MudText>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>
      <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">02 STICK THE SMART LABEL</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify">
                       <MudText Class="mb-8">Smart labels are attached to each product and each smartlabel instantly makes the product ready for the journey int he connected supply chain.
</MudText>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>
         <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">03 START TRACKING</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify">
                       <MudText Class="mb-8">Depending on the type of smartlabel attached to the product,start tracking the realtime product journey using a QRCode reader / RFID reader /NFC reader on a mobile.
</MudText>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>