@page "/team"

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">The Team</MudText>

 <MudGrid>
            <MudItem xs="12" sm="4" md="3">
                <MudCard >
                    <MudCardHeader>
                    </MudCardHeader>
                    <MudCardContent>
                        <div class="d-flex justify-center mb-4">
                            <MudAvatar Image="/images/krishna.jpg" Style="height:100px; width:100px;">
                            </MudAvatar>
                                
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="8" md="9">
                <MudCard >
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12">
                                    <MudText><b>Krishna Sumanth Chintala</b></MudText>
                        <MudText><b>Founder, Technology</b></MudText>
                        <MudText><hr /></MudText>
                         <MudText><br /></MudText>
                          <MudText><br /></MudText>
                                <MudText>
                                    Krishna is an ex-Dell has a Master’s from Univ. of Herts, UK with specialization in Cryptography and Quantum Computing. Has built 2 private labels in eCom in last 5 years which have generated over 4M USD in revenues.
                                </MudText>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>

             <MudItem xs="12" sm="4" md="3">
                <MudCard >
                    <MudCardHeader>
                    </MudCardHeader>
                    <MudCardContent>
                        <div class="d-flex justify-center mb-4">
                            <MudAvatar Image="/images/vamsi.jpg" Style="height:100px; width:100px;">
                            </MudAvatar>
                                
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="8" md="9">
                <MudCard >
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12">
                                    <MudText><b>Vamsi Krishna Chintala</b></MudText>
                        <MudText><b>Co-Founder, Marketing</b></MudText>
                        <MudText><hr /></MudText>
                         <MudText><br /></MudText>
                          <MudText><br /></MudText>
                                <MudText>
                                    Vamsi ex-Paypal has a B.Tech in Mech Eng from BITS,Pilani who was part of India’s first Indigenous Fighter Jet “Tejas” Project and has been into eCom since 2010.
                                </MudText>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>

             <MudItem xs="12" sm="4" md="3">
                <MudCard >
                    <MudCardHeader>
                    </MudCardHeader>
                    <MudCardContent>
                        <div class="d-flex justify-center mb-4">
                            <MudAvatar Image="/images/sudha.jpg" Style="height:100px; width:100px;">
                            </MudAvatar>
                                
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="8" md="9">
                <MudCard >
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12">
                                    <MudText><b>Sudha K</b></MudText>
                        <MudText><b>Co-Founder, Product Manager</b></MudText>
                        <MudText><hr /></MudText>
                         <MudText><br /></MudText>
                          <MudText><br /></MudText>
                                <MudText>
                                    Sudha has a B.Tech in Computer Sciences with a Gold medal from Univ and has over 15 years of Product Management experience in Software Industry.
                                </MudText>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>

             <MudItem xs="12" sm="4" md="3">
                <MudCard >
                    <MudCardHeader>
                    </MudCardHeader>
                    <MudCardContent>
                        <div class="d-flex justify-center mb-4">
                            <MudAvatar Image="/images/mridul.jpg" Style="height:100px; width:100px;">
                            </MudAvatar>
                                
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="8" md="9">
                <MudCard >
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12">
                                    <MudText><b>Mridul Mehta</b></MudText>
                        <MudText><b>Mentor</b></MudText>
                        <MudText><hr /></MudText>
                         <MudText><br /></MudText>
                          <MudText><br /></MudText>
                                <MudText>
                                    Mridul Mehta is an ex-Executive VP ICICI Securities and has held several key positions like Director at NM Rothschild & Sons India, Senior VP at Macquire Capital Advisers india comes with over 24 years of Financial services experience.
                                </MudText>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>